body{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: 98vh;
    background-color: hsl(222, 26%, 31%);
    font-family: 'League Spartan', sans-serif;
    color: white;
}

.calculator{
    display: grid;
    height: 50vh;
    width: 50vw;
    max-height: calc(9/7 * 450px);
    min-width: 300px;
    max-width: 600px;
    min-height: 450px;
    grid-template: repeat(5, 1fr) / repeat(4, 1fr);
    background-color: hsl(223, 31%, 20%);
    padding: 25px;
    border-radius: 8px;
}

.display{
    height: calc(3/10 * 45vw);
    max-height: 160px;
    padding-right: 37px;
    margin-bottom: 30px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    background-color: hsl(224, 36%, 15%);
    border-radius: 8px;
    font-size: 2.95rem;
}

button{
    border-radius: 10px;
    box-shadow: 0px 5px 0px hsl(28, 16%, 65%);
    margin: 0.75vw;
    border: none;
    background-color: hsl(30, 25%, 89%);
    font-family: 'League Spartan', sans-serif;
    font-weight: 700;
    font-size: 2.25rem;
    
}

.delete{
    background-color: hsl(225, 21%, 49%);
    color: white;
    box-shadow: 0px 5px 0px hsl(224, 28%, 35%);
}


.number{
    grid-column: span 1;
    grid-row: span 1;
    color: hsl(221, 14%, 31%);
}

.operation{
    color: hsl(221, 14%, 31%);
}

.reset{
    color: white;
    grid-column: span 2;
    background-color: hsl(225, 21%, 49%);
    box-shadow: 0px 5px 0px hsl(224, 28%, 35%);
}

.equals{
    grid-column: span 2;
    color: white;
    background-color: hsl(6, 63%, 50%);
    box-shadow: 0px 5px 0px hsl(6, 70%, 34%);
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    height: 7vh;
}

.name{
    font-size: 3rem;
    align-self: flex-start;
}

.themechanger{
    display: flex;
    flex-direction: row;
    width: 40%;
    justify-content: space-between;
    align-items: center;
    font-size: 1.4rem;
}

.themes{
    width: 90%;
    display: flex;
    justify-content: space-around;
    align-self: center;
    font-size: 1.2rem;
}

.themeselector{
    display: flex;
    flex-direction: column;
    width: 50%;
}

.slider
{
    padding-left: 5%;
    padding-right: 5%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-top: 5px;
    height: 4vh;
    border-radius: 4vh;
    background-color: hsl(223, 31%, 20%);
}

.selector{
    height: 2.8vh;
    width: 2.8vh;
    border-radius: 50%;
    background-color:hsl(6, 63%, 50%);
}

@media (max-width: 900px) 
{
    .calculator{
        width: 70vw;
    }
    .display{
        height: calc(5/10 * 45vw);
        margin-bottom: 10px;
        margin-top: 10px;
    }
    button{
        margin: 1.3vw;
        font-size: 1.85rem;
    }
}